@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /*font-family: code;*/
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  font-size: 20px;
  color:rgb(9, 75, 36);
  /* background: rgba(27, 216, 74, 0.623); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,h2,h3,h4{
  margin: 0;
}
#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  /* align-items: flex-start; */
  /* border-bottom: 2px solid gray */
}
.login{
  margin-top: 16px;
  margin-right: 20px;
}
.border{
  border: 2px solid black;
}
.login2{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-top: 16px;
  margin-right: 20px;
}
#register{
  display: flex;
  flex-flow: row wrap;
  /* margin-left: 210px;  */
  /* border-bottom: 3px solid black */
}
.header{
	display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  /*margin: 10px;*/
	/* border: 10px solid black; */
}
#logo{
  padding: 0;
  margin-top: 16px;
  margin-left: 20px;
  font-size: 60px;
  /* border: 2px solid gray; */
  width: auto;
}
#logo label{
  padding: 100px;
}
.header form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  /* margin-left: 200px; */
  /* border: 5px solid black; */
}
.header form input{
  border: 2px solid grey;
  border-radius: 20px;
  height: 30px;
  width: 200px;
  /* margin-left: 5px; */
  /* margin-right: 20px; */
}
.logout{
  margin-top: 40px;
  margin-right: 25px;
}
#logout{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: right;
  /*border :2px solid black;*/
}
.btn {
  border: none;
  background-color: inherit;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  width: auto;
  display: inline-block;
}
.btn:hover {background: darkgray;}

.reg{
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
}
.log{
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
}
.logout{
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
}
.report{
  /* margin: 5px; */
  margin: 5px 5px 5px 0;
  border-radius: 10px;
  border: 1px solid black;
}
.chart{
  /* margin: 5px; */
  margin: 5px 5px 5px 0;
  border-radius: 10px;
  border: 1px solid black;
}
.edit{
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
}
.newItem{
  display: flex;
  justify-content: flex-start;
  margin: 5px 5px 5px 0;
  border-radius: 10px;
  border: 1px solid black;
}
.createItem{
  margin: 5px 5px 5px 0;
  border-radius: 10px;
  border: 1px solid black;
}
.delete{
  margin: 5px;  
  border-radius: 10px;
  border: 1px solid black;
}
.delete:hover {background: darksalmon;}
.homePageComponent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#sitedescription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  width: 800px;
}

#sitedescription h2{
  font-size: 36px;
  font-weight: 700;
}
#sitedescription p{
  font-size: 18px;  
  line-height: 150%
}
.MainComponent{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-around;
}
#MainComponentMenu{
  position: -webkit-sticky;
  position: sticky;
  right: -1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
}
#MainComponentMenu Collapsible{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 36px;
  border: 90px solid black;
}
#MainComponentContent{
  margin-right: 100px;
}

.itemComponent{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 5px 5px 0 0;
  /* padding-left: 20px;
  padding-right: 20px; */
  width: 100%;
}
.itemComponent li{
  list-style: none;
  margin: 5px;
  padding-left: 10px;
  padding-bottom: 3px;
  width: 60px;
}
.numbers{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  width: 100%;
}
.itemList{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 5px solid rgba(0, 0, 0, 0.137);
  border-radius: 30px;
  padding: 18px;
}
.Collapsible__contentInner{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chartComponent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 760px;
}
.chartContent{
  margin-bottom: 30px;
  /* border: 2px solid rgb(97, 111, 135); */
  border: 5px solid rgba(0, 0, 0, 0.137);
  /* margin: 15px 0; */
  border-radius: 30px;
  padding: 18px;  
}
.newItemForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin: 5px; */
  /* border: 2px solid green; */
  /* height: 300px; */
  /*width: 600px;*/
  /* width: 100%; */
}
.newItemForm form{
  padding-top: 10px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.editItemForm{
  display: flex;
  flex-direction: column;
  margin: 5px;
  /*border: 10px solid green;*/
  height: 300px;
  /*width: 600px;*/
  width: 100%;
}
.editItemForm form{
  display: flex;
  flex-direction: column;
}

.itemGrid{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}
.itemGrid div{
  /* border-left: 2px solid grey ; */
  padding: 5px 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  /* height: 100%; */
}
.itemGrid :first-child{
  /* border-left: 2px solid grey ; */
  margin-top: 8px;
}
.itemGridToEdit{
  display:none;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.itemGridToEdit div{
  /* border-bottom: 2px solid red ; */
  padding: 5px 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  /* height: 100%; */
}
.itemGridToEdit :first-child{
  margin-top: 8px;
}