body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header{
	margin: 5px;
	border: 10px solid black;
}
.MainComponent{
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 10px solid black;
}
.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
  border: 10px solid red;
}

.itemComponent{
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 10px solid blue; 
  height: 300px;
}
.chartComponent{
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 10px solid green;
  height: 300px;
  width: 600px;
}
.newItemForm{
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 10px solid green;
  height: 300px;
  width: 600px;
}
.newItemForm form{
  display: flex;
  flex-direction: column;
}
.menuComponent{
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 10px solid navy;
  height: 300px;
}